name: CI Checks
run-name: Running CI Checks by ${{ github.actor }}

on:
  pull_request:
    branches:
      - main

jobs:

  Initial-Checks:
    runs-on: ubuntu-latest
    steps:
      - name: Getting initiator name
        run: echo "Workflow initiated by ${{ github.actor }} from branch ${{ github.ref_name }}"

  terraform-checks:
    runs-on: ubuntu-latest
    needs: Initial-Checks
    outputs:
      status: ${{ job.status }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init  # ✅ THIS FIXES THE ERROR
        run: terraform init -upgrade -backend=false

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate -no-color

      - uses: terraform-linters/setup-tflint@v3
        with:
          tflint_version: latest

      - name: Init TFLint
        run: tflint --init

      - name: Run TFLint
        run: tflint -f compact
        
  snyk-checks:
    runs-on: ubuntu-latest
    needs: Initial-Checks
    outputs:
      status: ${{ job.status }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Snyk CLI
        uses: snyk/actions/setup@v4

      - name: Authenticate Snyk Token
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: snyk auth "$SNYK_TOKEN"

      - name: Snyk Open Source Scan
        run: snyk test --severity-threshold=high --report

      - name: Snyk IaC Scan
        run: snyk iac test --report

      - name: Snyk Code Scan
        run: snyk code test --report



  summary:
    needs: [terraform-checks, snyk-checks]
    runs-on: ubuntu-latest
    steps:
      - name: Build Summary Output
        run: |
          TF_STATUS=${{ needs.terraform-checks.outputs.status }}
          SNYK_STATUS=${{ needs.snyk-checks.outputs.status }}

          echo '## ✅ CI Job Summary' >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo "| Job Name        | Status |" >> $GITHUB_STEP_SUMMARY
          echo "|-----------------|--------|" >> $GITHUB_STEP_SUMMARY
          echo "| terraform-checks | $TF_STATUS |" >> $GITHUB_STEP_SUMMARY
          echo "| snyk-checks      | $SNYK_STATUS |" >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo "**Ran by:** ${{ github.actor }}" >> $GITHUB_STEP_SUMMARY
